.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
    &__logo {
        position: absolute;
        width: 50%;
        height: 25px;
    }
    &__return {
        display: flex;
        position: relative;
        left: -45%;
        text-decoration: none;
        color: black;
        i {
            font-size: 18px;
            font-weight: 600;
        }

    }
}