body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.btn {
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 50%;
  height: 40px;
  margin: 30px 25% 40px 25%;
  border-radius: 20px;
  border-style: none;
  box-shadow: 4px 4px 4px #e6e6e6;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(125%);
}

.card {
  display: block;
  position: relative;
  width: 90%;
  height: 220px;
  margin-left: 5%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
}
.card__img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__inline {
  position: absolute;
  top: 8%;
  right: 5%;
  background-color: #99e2d0;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #139273;
}
.card__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.card__infos__text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.card__infos__text__heading {
  margin: 10px 0 5px 10px;
}
.card__infos__text__byline {
  margin: 0 0 10px 10px;
}
.card__infos__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.card__infos__heart i .plein {
  display: none;
}
.card__infos__heart i:hover {
  color: linear-gradient(to top right, #FF79DA, #9356DC);
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60px;
  margin-left: 5%;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 4px 4px 4px #e6e6e6;
}
.text__heading {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 10px 5px 10px;
}
.text__plus {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.text__plus__byline {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 10px;
}
.text__plus__price {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.text__anim-check {
  display: none;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo {
  position: absolute;
  width: 50%;
  height: 25px;
}
.header__return {
  display: flex;
  position: relative;
  left: -45%;
  text-decoration: none;
  color: black;
}
.header__return i {
  font-size: 18px;
  font-weight: 600;
}

.footer {
  width: 100%;
  background-color: #353535;
}
.footer__contain {
  padding: 10px 5% 20px 5%;
  display: flex;
  flex-direction: column;
}
.footer__contain__logo {
  width: 30%;
  filter: invert(100%);
  margin-top: 10px;
}
.footer__contain__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px 0 15px 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 200;
}
.footer__contain__list a {
  text-decoration: none;
  color: white;
}
.footer__contain__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-weight: 400;
}
.footer__contain__list i {
  margin-right: 8px;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.contain__search {
  background-color: #F6F6F6;
  height: 340px;
}
.contain__search__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.contain__search__place {
  margin-left: 1rem;
  font-weight: 450;
}
.contain__function {
  height: 380px;
}
.contain__function__list {
  counter-reset: monCompteur;
  margin: 0;
  padding: 0;
}
.contain__function__list__item::before {
  counter-increment: monCompteur;
  content: counter(monCompteur) " ";
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #9356DC;
  font-size: 14px;
  color: white;
  padding-top: 3px;
  text-align: center;
  margin-left: -10px;
}
.contain__function__list__item {
  display: flex;
  align-items: center;
  width: 87%;
  height: 60px;
  background-color: #F6F6F6;
  border-radius: 12px;
  margin-left: 8%;
  margin-bottom: 10px;
  box-shadow: 4px 4px 4px #e6e6e6;
}
.contain__function__list__item__text {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
}
.contain__function__list__item i {
  margin-left: 20px;
}
.contain__function__list__item:hover {
  background-color: #f5edff;
}
.contain__function__list__item:hover i {
  color: #9356DC;
}
.contain__rest {
  background-color: #F6F6F6;
}
.contain__heading {
  margin: 40px 5% 25px 5%;
  font-family: "Roboto", sans-serif;
}
.contain__heading--center {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 40px 15% 20px 15%;
}
.contain__byline {
  text-align: center;
  margin: 0 40px 30px 40px;
}
.contain a {
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.menu__img {
  height: 200px;
  object-fit: cover;
}
.menu__carte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: -25px;
}
.menu__carte__resto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 25px 5% 0 5%;
}
.menu__carte__resto i {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}
.menu__carte__choix {
  display: flex;
  flex-direction: column;
}
.menu__carte__choix__heading {
  width: 35px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 7%;
  margin-top: 20px;
  border-bottom: 3px solid #99e2d0;
}

/*# sourceMappingURL=style.css.map */
