@keyframes delay_items {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opacity_spinner {
  0% {
    opacity: 0.8;
    z-index: 1;
  }
  50% {
    opacity: 0.4;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes circles {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes delay_heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.btn {
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 50%;
  height: 40px;
  margin: 30px 25% 40px 25%;
  border-radius: 20px;
  border-style: none;
  box-shadow: 4px 4px 4px grey;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(125%);
  box-shadow: 4px 4px 4px black;
}

.card {
  display: block;
  position: relative;
  width: 90%;
  height: 220px;
  margin-left: 5%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
}
.card__img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__inline {
  position: absolute;
  top: 8%;
  right: 5%;
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #139273;
}
.card__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.card__infos__text {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.card__infos__text__heading {
  margin: 10px 0 5px 10px;
}
.card__infos__text__byline {
  margin: 0 0 10px 10px;
  color: black;
}
.card__infos__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.card__infos__heart i {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.card__infos__heart i.plein {
  position: absolute;
  opacity: 0;
  color: #9c47fc;
  background: -webkit-linear-gradient(90deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__infos__heart:hover i.plein {
  opacity: 1;
}
.card__infos__heart:hover i.vide {
  opacity: 0;
}

.card:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.text {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 60px;
  margin-left: 5%;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding-right: 1rem;
  box-shadow: 4px 4px 4px grey;
}
.text__heading {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 10px 5px 10px;
}
.text__plus {
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  flex: 1;
}
.text__plus__byline {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 10px;
}
.text:hover .text__anim-icone {
  transform: rotate(0);
}
.text:hover .text__anim-check {
  margin-right: -1rem;
}
.text__anim-check {
  background-color: #99E2D0;
  margin-top: -1rem;
  margin-right: -5rem;
  margin-bottom: -1rem;
  margin-left: 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.6s;
}
.text__anim-check .green {
  color: #99E2D0;
}
.text__anim-icone {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(-180deg);
  transition-duration: 0.6s;
}
.text__price {
  font-size: 14px;
  font-weight: 500;
  margin: 18px 2% 0 0;
}

.spinner {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  position: fixed;
  background-color: grey;
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
  color: #9356DC;
  opacity: 0;
  animation: opacity_spinner 3s linear;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  position: relative;
}

.loader-circles {
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #9356DC;
  animation: circles 1s linear infinite;
}

.loader-circles::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #FF79DA;
  animation: circles 1.5s linear infinite;
}

.loader-circles::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #9356DC;
  animation: circles 2s linear infinite;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo {
  position: absolute;
  height: 25px;
}
.header__return {
  display: flex;
  position: relative;
  left: -45%;
  text-decoration: none;
  color: black;
}
.header__return i {
  font-size: 18px;
  font-weight: 600;
}

.footer {
  width: 100%;
  background-color: #353535;
}
.footer__contain {
  padding: 10px 5% 20px 5%;
  display: flex;
  flex-direction: column;
}
.footer__contain__logo {
  width: 30%;
  filter: invert(100%);
  margin-top: 10px;
}
.footer__contain__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px 0 15px 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 200;
}
.footer__contain__list a {
  text-decoration: none;
  color: white;
}
.footer__contain__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-weight: 400;
}
.footer__contain__list i {
  margin-right: 8px;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.contain__search {
  background-color: #F6F6F6;
  height: 340px;
}
.contain__search__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.contain__search__place {
  margin-left: 1rem;
  font-weight: 450;
}
.contain a {
  text-decoration: none;
  box-shadow: 4px 4px 4px grey;
}
.contain__function {
  height: 380px;
}
.contain__function__list {
  counter-reset: monCompteur;
  margin: 0;
  padding: 0;
}
.contain__function__list__item::before {
  counter-increment: monCompteur;
  content: counter(monCompteur) " ";
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #9356DC;
  font-size: 14px;
  color: white;
  padding-top: 3px;
  text-align: center;
  margin-left: -10px;
}
.contain__function__list__item {
  display: flex;
  align-items: center;
  width: 87%;
  height: 60px;
  background-color: #F6F6F6;
  color: black;
  border-radius: 12px;
  margin-left: 8%;
  margin-bottom: 10px;
}
.contain__function__list__item__text {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
}
.contain__function__list__item i {
  margin-left: 20px;
}
.contain__function__list__item:hover {
  background-color: #f5edff;
}
.contain__function__list__item:hover i {
  color: #9356DC;
}
.contain__rest {
  background-color: #F6F6F6;
}
.contain__heading {
  margin: 40px 5% 25px 5%;
  font-family: "Roboto", sans-serif;
}
.contain__heading--center {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 40px 15% 20px 15%;
}
.contain__byline {
  text-align: center;
  margin: 0 40px 30px 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.menu__img {
  height: 200px;
  object-fit: cover;
}
.menu__carte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: -25px;
}
.menu__carte__resto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 25px 5% 0 5%;
}
.menu__carte__choix {
  display: flex;
  flex-direction: column;
  transition-delay: 0.4s;
}
.menu__carte__choix__heading {
  width: 35px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 7%;
  margin-top: 20px;
  border-bottom: 3px solid #99E2D0;
}
.menu__carte__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  transition: opacity 0.3s;
}
.menu__carte__heart i {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.menu__carte__heart i.plein {
  position: absolute;
  opacity: 0;
  color: #9c47fc;
  background: -webkit-linear-gradient(90deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__carte__heart:hover i.plein {
  opacity: 1;
}
.menu__carte__heart:hover i.vide {
  opacity: 0;
}
.menu .delay1 {
  animation: delay_items 0.2s 0.2s linear both;
}
.menu .delay2 {
  animation: delay_items 0.2s 0.4s linear both;
}
.menu .delay3 {
  animation: delay_items 0.2s 0.6s linear both;
}
.menu .delay4 {
  animation: delay_items 0.2s 0.8s linear both;
}

/*# sourceMappingURL=style.css.map */
