.card {
    display: block;
    position: relative;
    width: 90%;
    height: 220px;
    margin-left: 5%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    &__img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__inline {
        position:absolute;
        top: 8%;
        right: 5%;
        background-color: #99e2d0;
        padding: 5px 10px 5px 10px;
        font-size: 14px;
        font-weight: 600;
        color: #139273;
    }
    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        &__text {
            display: flex;
            flex-direction: column;
            width: 80%;
            &__heading {
            margin: 10px 0 5px 10px;
            }
            &__byline {
            margin: 0 0 10px 10px;
            color: black;
            }
        }
        &__heart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            transition: opacity 0.3s;
            i {
                position: relative;
                text-decoration: none;
                font-size: 20px;
                color: black;
            }
            i.plein {
                position: absolute;
                opacity: 0;
                color: #9c47fc;
                background: -webkit-linear-gradient($color-secondary, $color-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &__heart:hover {
            i.plein {
                opacity: 1;
            }
            i.vide {
                opacity: 0;
            }
        }
    }
}