.contain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    &__search {
        background-color: $color-backgrey;
        height: 340px;
        &__input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        }
        &__place {
            margin-left: 1rem;
            font-weight: 450;
        }
    }
    &__function {
        height: 380px;
        &__list {
            counter-reset: monCompteur;
            margin: 0;
            padding: 0;
            &__item::before {
                counter-increment: monCompteur;
                content: counter(monCompteur) " ";
                height: 20px;
                width: 20px;
                border-radius: 10px;
                background-color: $color-primary;
                font-size: 14px;
                color: white;
                padding-top: 3px;
                text-align: center;
                margin-left: -10px;

            }
            &__item {
                display: flex;
                align-items: center;
                width: 87%;
                height: 60px;
                background-color: $color-backgrey;
                border-radius: 12px;
                margin-left: 8%;
                margin-bottom: 10px;
                @include shadow;
                &__text {
                    display: flex;
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 20px;
                }
                i {
                    margin-left: 20px;
                }
                &:hover {
                    background-color: #f5edff;
                    i {
                        color: $color-primary;
                    }
                }
            }
            
        }
    }
    &__rest {
        background-color: $color-backgrey;
    }
    &__heading {
        margin: 40px 5% 25px 5%;
        font-family: 'Roboto', sans-serif;
        &--center {
            font-family: 'Roboto', sans-serif;
           text-align: center;
           margin: 40px 15% 20px 15%;
        }
    }
    &__byline {
        text-align: center;
        margin: 0 40px 30px 40px;
    }
    a {
        text-decoration: none;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    &__img {
        height: 200px;
        object-fit: cover;
    }
    &__carte {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-backgrey;
        border-radius: 25px;
        margin-top: -25px;
        &__resto {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin: 25px 5% 0 5%;
            i {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 5%;
                font-size: 18px;
            }
        }
        &__choix {
            display: flex;
            flex-direction: column;
            transition-delay: 0.4s;
            &__heading {
                width: 35px;
                font-size: 14px;
                font-weight: 400;
                margin-left: 7%;
                margin-top: 20px;
                border-bottom: 3px solid #99e2d0 ;
            }

        }

    }
    .delay1 {
        animation: delay_items 0.2s 0.2s linear both;
    }
    .delay2 {
        animation: delay_items 0.2s 0.4s linear both;
    }
    .delay3 {
        animation: delay_items 0.2s 0.6s linear both;
    }
    .delay4 {
        animation: delay_items 0.2s 0.8s linear both;
    }
}