@mixin shadow {
    box-shadow: 4px 4px 4px #e6e6e6;
}

@mixin border($color:$color-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    width: 50%;
    height: 40px;
    margin: 30px 25% 40px 25%;
    border-radius: 20px;
    border-style: none;
    @include shadow;
    cursor: pointer;
    &:hover{
        filter: brightness(125%);
    }
}