@mixin shadow {
    box-shadow: 4px 4px 4px grey;
}

@mixin btn {
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    width: 50%;
    height: 40px;
    margin: 30px 25% 60px 25%;
    border-radius: 20px;
    border-style: none;
    @include shadow;
    cursor: pointer;
    &:hover{
        filter: brightness(125%);
        box-shadow: 4px 4px 4px black;
    }
}

